body{
    background-image : url("grass.png");
    background-color:#2db92d;
}
@font-face {
    font-family: 'sillkscreen';
    src: url('slkscr.ttf');
}

*{
  color:green;
  font-family: 'sillkscreen';
}

#toolbar{
  position: absolute;
  top: 6.39834881321%;
  left: 92.4479166667%;
}

#instruction{
  position: absolute;
 top: 20%;
 left: 23%;
}

#canvas{
  margin: 0; padding: 0;
  border:1px solid #000000;
  position:absolute;
}
