body{
    background-image : url("grass.png");
    background-color:#2db92d;
}
@font-face {
    font-family: 'sillkscreen';
    src: url('slkscr.ttf');
}
*{
  color:green;
  font-family: 'sillkscreen';
  margin: 0; padding: 0;
}
html, body {
  overflow: hidden;
  height:100%;
}
#money{
  font-size: 50px;
  margin-left: 93.0729166667%;
  margin-top:30;
  color: #e5d334;
}

#toolbar{
  position: absolute;
  top: 6.39834881321%;
  left: 92.5479166667%;
}

#plantButton{
  position: absolute;
  top: 9.08152734778%;
  left: 93.0729166667%;
}#plantButton:hover{cursor:pointer; opacity:0.9;}

#waterButton{
  position: absolute;
  top: 23.2198142415%;
  left: 93.0729166667%;
}#waterButton:hover{cursor:pointer; opacity:0.9;}

#buyButton{
  position: absolute;
  top: 50.6707946337%;
  left: 93.0729166667%;
}#buyButton:hover{cursor:pointer; opacity:0.9;}

#sellButton{
  position: absolute;
  top: 36.9453044376%;
  left: 93.0729166667%;
}#sellButton:hover{cursor:pointer; opacity:0.9;}

div{
//  position:absolute;
  z-index: -1;
}

canvas{
  border: 1px solid red;

}

#dirt11{
  position: absolute;
  top:2.68318%;
  left:2.1875%;
  box-sizing:border-box;
}
#dirt11:hover{ opacity : 0.7;  }
#dirt12{
  position: absolute;
  top:2.68318%;
  left:18.6458%;
}
#dirt13{
  position: absolute;
  top:2.68318%;
  left:35.1042%;
}
#dirt14{
  position: absolute;
  top:2.68318%;
  left:51.5625%;
}
#dirt15{
  position: absolute;
  top:2.68318%;
  left:68.0208%;
}
#dirt21{
  position: absolute;
  top:28.1734%;
  left:2.1875%;
}
#dirt22{
  position: absolute;
  top:28.1734%;
  left:18.6458%;
}
#dirt23{
  position: absolute;
  top:28.1734%;
  left:35.1042%;
}
#dirt24{
  position: absolute;
  top:28.1734%;
  left:51.5625%;
}
#dirt25{
  position: absolute;
  top:28.1734%;
  left:68.0208%;
}
#dirt31{
  position: absolute;
  top:53.6636%;
  left:2.1875%;
}
#dirt32{
  position: absolute;
  top:53.6636%;
  left:18.6458%;
}
#dirt33{
  position: absolute;
  top:53.6636%;
  left:35.1042%;
}
#dirt34{
  position: absolute;
  top:53.6636%;
  left:51.5625%;
}
#dirt35{
  position: absolute;
  top:53.6636%;
  left:68.0208%;
}
#dirt41{
  position: absolute;
  top:79.1538%;
  left:2.1875%;
}
#dirt42{
  position: absolute;
  top:79.1538%;
  left:18.6458%;
}
#dirt43{
  position: absolute;
  top:79.1538%;
  left:35.1042%;
}
#dirt44{
  position: absolute;
  top:79.1538%;
  left:51.5625%;
}
#dirt45{
  position: absolute;
  top:79.1538%;
  left:68.0208%;
}
